<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="shortcut icon" href="/static/img/favicon.png" />
<meta name="author" content="Unknown" />
<meta name="description" content="Beego sample app - notifier" />
<meta name="keywords" content="Go, golang, beego, polling, notifier">

<link href="/static/css/bootstrap.min.css" rel="stylesheet" />

<script src="/static/js/jquery-1.10.1.min.js"></script>

<script src="/static/js/longpolling.js"></script>
